name: Pull Request
on: pull_request
jobs:
  build:
    name: "Build"
    strategy:
      matrix:
        node-version: [12, 14, 16, 17]
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Install package dependencies
        run: yarn install

      - name: Check for change files
        run: npx --no-install beachball check --branch main

      - name: Perform Validation
        run: yarn ci
